header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.8rem 0;
    position: sticky;
    top: 0;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
    z-index: 100;
    background-color: var(--primaryColor);
}
header h1{
    font-size: 3.6rem;
    cursor: pointer;
}
.navItems{
    display: flex;
    gap: 4rem;
}
.navItems a{
    color: #fff;
    font-size: 2rem;
}
.authBtns a{
    background-color: var(--secondaryColor);
    color: var(--primaryColor);
    font-weight: 600;
    padding: 1rem 1.5rem;
    text-align: center;
    border-radius: 10px;
}